.covid_quiz_home {
  font-size: 2.5vw;
  text-align: center;
}

#quiz_link {
  text-decoration: none;
}


#quiz_button {
  margin-left: 36vw;
  font-size: 3vw;
  color: blue;
  width: 25%;
  border: 3px;
  border-style: solid;
  border-color: red;
  text-align: center;
}

#quiz_button:active{
  background-color: white;
}

.quiz{
  width:60%;
  margin-left:32vw;
}

.quiz input{
  margin-left: 3vw;
}

.questions {
  font-size: 3vw;
}

.question_answers {
  font-size: 2.8vw;
}


button {
  color: white;
  font-size:3vw;
  padding-right:1vw;
  padding-left:1vw;
  border-radius: 1vw;
  background-color:#002EFF;
  border:6px #2950FF inset;
}

#submition {
  text-align: center;
}

button:active {
  background-color: lightgray;
}
